{extend name='admin@public/content'}

{block name="content"}
<form autocomplete="off" onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" id="MerchantForm" class='form-horizontal layui-form padding-top-20'>
    <div class="form-group">
        <label class="col-sm-2 control-label">商户名称</label>
        <div class='col-sm-8'>
            <input name="merchant_title" required value="{$vo.merchant_title|default=''}" class="layui-input" title="请输入商户名称" placeholder="请输入商户名称">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">商户邮箱</label>
        <div class="col-sm-8">
            <input name="merchant_email" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" value='{$vo.merchant_email|default=""}' title="请输入商户邮箱" placeholder="请输入商户邮箱" class="layui-input">
        </div>
    </div>

    <div class="form-group">
        <!--label-required-->
        <label class="col-sm-2 control-label">商户省市区</label>
            <div class="col-sm-2">
                <select name="merchant_province" class="layui-select block full-width" lay-ignore></select>
            </div>
            <div class="col-sm-3">
                <select name="merchant_city" class="layui-select block full-width" lay-ignore></select>
            </div>
            <div class="col-sm-3">
                <select name="merchant_area" class="layui-select block full-width" lay-ignore></select>
            </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">详细地址</label>
        <div class="col-sm-8">
            <textarea placeholder="请输入详细地址" title="请输入详细地址" name="merchant_address" class="layui-textarea">{$vo.address|default=""}</textarea>
        </div>
    </div>

    <div class="form-group">
        <!--label-required-->
        <label class="col-sm-2 control-label">商户图片</label>
        <div class='col-sm-8'>
            <table class="layui-table background-item margin-none" lay-size="sm" lay-skin="nob">
                <thead>
                <tr>
                    <td>商户LOGO</td>
                    <td>商户营业执照</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-top" style="width:200px">
                        <input type="hidden" name="merchant_logo" value="{$vo.merchant_logo|default=''}">
                    </td>
                    <td class="text-top">
                        <input type="hidden" name="merchant_license" value="{$vo.merchant_license|default=''}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">商户描述</label>
        <div class='col-sm-8'>
            <textarea class="layui-textarea" name="merchant_desc" placeholder="请输入商户描述">{$vo.merchant_desc|default=''}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">开户行银行账号</label>
        <div class='col-sm-8'>
            <input name="bank_account" value="{$vo.bank_account|default=''}" class="layui-input" title="请输入开户行银行账号" placeholder="请输入开户行银行账号">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">开户行名称</label>
        <div class='col-sm-8'>
            <input name="bank_title" value="{$vo.bank_title|default=''}" class="layui-input" title="请输入开户行名称" placeholder="请输入开户行名称">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">开户行用户</label>
        <div class='col-sm-8'>
            <input name="bank_username" value="{$vo.bank_username|default=''}" class="layui-input" title="请输入开户行用户" placeholder="请输入开户行用户">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">开户行金额</label>
        <div class='col-sm-8'>
            <input onblur="this.value=(parseFloat(this.value)||0).toFixed(2)" class="layui-input" placeholder="0.00" name="market_price" value="{$vo.market_price|default='0.00'}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">法人名称</label>
        <div class='col-sm-8'>
            <input name="legal_name" value="{$vo.legal_name|default=''}" class="layui-input" title="请输入法人名称" placeholder="请输入法人名称">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">法人联系电话</label>
        <div class='col-sm-8'>
            <input name="legal_phone" pattern="^1\d{10}$" value="{$vo.legal_phone|default=''}" class="layui-input" title="请输入法人联系电话" placeholder="请输入法人联系电话">
        </div>
    </div>

    <div class="form-group">
        <!--label-required-->
        <label class="col-sm-2 control-label">法人图片</label>
        <div class='col-sm-8'>
            <table class="layui-table background-item margin-none" lay-size="sm" lay-skin="nob">
                <thead>
                <tr>
                    <td>法人身份证正面图片</td>
                    <td>法人身份证背面图片</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-top" style="width:200px">
                        <input type="hidden" name="legal_posit_card" value="{$vo.legal_posit_card|default=''}">
                    </td>
                    <td class="text-top">
                        <input type="hidden" name="legal_back_card" value="{$vo.legal_back_card|default=''}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="col-sm-7 col-sm-offset-2">
        <div class="layui-form-item text-center">
            {if !empty($vo.id)}<input type="hidden" name="id" value="{$vo.id}">{/if}
            <button class="layui-btn" type="submit">保存配置</button>
            <button class="layui-btn layui-btn-danger" type='button' onclick="window.history.back()">取消编辑</button>
        </div>
    </div>
</form>

<script>
    require(['pcasunzips'], function () {
        new PCAS('merchant_province', 'merchant_city', 'merchant_area', '{$vo.merchant_province|default=""}', '{$vo.merchant_city|default=""}', '{$vo.merchant_area|default=""}');
    });
</script>

<script>
    require(['jquery', 'ckeditor', 'angular'], function () {
        var app = angular.module("MerchantForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback() {

            // 单图片上传处理
            $('#MerchantForm [name="merchant_logo"]').uploadOneImage();
            $('#MerchantForm [name="merchant_license"]').uploadOneImage();

            $('#MerchantForm [name="legal_posit_card"]').uploadOneImage();
            $('#MerchantForm [name="legal_back_card"]').uploadOneImage();

        }
    });
</script>
{/block}

{block name="style"}
<style>

    .background-item {
        padding: 15px;
        background: #efefef;
    }

    .background-item thead tr {
        background: #e0e0e0
    }

</style>
{/block}